:root{
  --backgroundColor:#1b1c1e;
  --cardColor: #252525;
  --greenPrimaryColor:#EFBA34;
  --skyBluPrimaryColor: #4799F0;
  --borderShadowColor: black;
}
body{
    padding: 0%;
    margin:0%;
    background-color: var(--backgroundColor);
    
}

#banner_container{
 /* background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 73%, rgba(1,0,255,1) 99%);*/
    background-color: var(--backgroundColor);
    width: 100%;
    height: 250px;
    position: relative;
    display: inline-block;
    text-align: center;
}
/*Texto dentro del banner principal*/
.banner_file{
    position: absolute;
    color: var(--skyBluPrimaryColor);
}
#text1{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 0.30em solid var(--skyBluPrimaryColor);
  animation: typing 3s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#text2{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about_me_container{
    background-color:var(--cardColor);
    margin-top: 2%;
    display: inline-flex;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 16px;
}
#my_information_container{
    background-color: transparent;
    padding: 1%;
}

.myInformationText{
  color: white;
}

#my_photo{
    width: 200px;
    border-radius: 50%;
    border-color: transparent;
}

#proyects_title{
    text-align: center;
    color: var(--skyBluPrimaryColor);
}

#proyectos_container{
    height: 100%;
    background-color: var(--backgroundColor);
    margin-top: 15px;
    padding: 1%;
}
#proyects_card{
    padding: 1%;
    background-color: var(--backgroundColor);
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.cards{
    display: inline-flex;
    width: 25%;
    background-color: var(--cardColor);
    padding: 1%;
    margin-top: 0px;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 16px;
}
.card-title{
  color: white;
}
.card-text{
  color: whitesmoke;
}
.cardTextContainer{
  height: 80%;
}
.card-body button{
  background-color: var(--skyBluPrimaryColor);
  border: none;
}
.card-body{
    margin-left: 10px;
}
.cards a{
  background-color:  rgba(9,9,121,1);
  border-color: transparent;
}

#sliders_containers{
    background-color: rebeccapurple;
    padding: 1%;
}

#my_skills_title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    color: var(--skyBluPrimaryColor);
}
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: var(--backgroundColor);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, black 0%, var(--backgroundColor) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
    box-shadow: 1px 1px 10px var(--backgroundColor);
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 50px;
    width: 250px;
  }
  

  #contact_container{
    width: 100%;
    height: 150px;
    background-color: var(--backgroundColor);
    text-align: center;
    border-radius: 16px;
    padding: 1%;
    margin-bottom: 3%;
  }
  
  #contact_container h5{
    color: white;
  }
  .ModalCarousel{
    background-color: rebeccapurple;
  }
  .ModalCarousel img{
    height: 100%;
  }

@media screen and (max-width: 1000px) {

    body{
      padding: 0%;
      margin:0%;
  }
  
  #banner_container{
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 73%, rgba(1,0,255,1) 99%);*/
    background-color: var(--backgroundColor);
      width: 100%;
      height: 250px;
      position: relative;
      display: inline-block;
      text-align: center;
  }
  
  .banner_file{
      position: absolute;
      color: var(--skyBluPrimaryColor);
  }
  #text1{
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  #text2{
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
     
  }
  
  #about_me_container{
      margin-top: 2%;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 16px;
      display: inline-block;
      width: 90%;
      justify-content: center;
      text-align: center;
  }
  
  #proyects_card{
      display:inline-block;
      justify-content: center;
      width: 100%;
  }
  
  .cards{
      display: inline-flex;
      width: 100%;
      padding: 4%;
      margin-top: 0px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 5%;
      border-radius: 16px;
  }
  .cardTextContainer{
    height: 73%;
  }

  #sliders_containers{
      background-color:transparent;
      padding: 1%;
  }
  
  #my_skills_title{
      text-align: center;
      margin-top: 5%;
      margin-bottom: 3%;
  }
  @-webkit-keyframes scroll {
      0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
      }
    }
    
    @keyframes scroll {
      0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
      }
    }
    .slider {
     
      /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 95%;
    }
    .slider::before, .slider::after {
      background: linear-gradient(to right, transparent 0%, transparent 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
    .slider::after {
      right: 0;
      top: 0;
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg);
    }
    .slider::before {
      left: 0;
      top: 0;
    }
    .slider .slide-track {
      -webkit-animation: scroll 40s linear infinite;
              animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    .slider .slide {
      height: 50px;
      width: 250px;
    }
    
    
}